In [3]:
import pandas as pd
data = {"字串":["台北", "台中"],
        "整數":[1000, 3000],
        "浮點數":[3.258, 7.396]}

df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [16]:
#視覺美化
df.style\
.format(precision=4,thousands=",",decimal=".")\
.relabel_index(["列1","列2"])

In [27]:
import numpy as np
data = np.random.rand(10,2)*5
df = pd.DataFrame(data,
                  columns=["台北","台中"],
                  index = pd.date_range(start="2023-09-01",periods= 10))
df

                  台北        台中
2023-09-01  3.845776  4.533715
2023-09-02  0.621566  3.596075
2023-09-03  3.660089  1.225706
2023-09-04  4.839626  3.278332
2023-09-05  2.018914  4.877797
2023-09-06  0.972526  4.380525
2023-09-07  3.105835  1.529863
2023-09-08  0.976385  2.169297
2023-09-09  3.207544  3.982465
2023-09-10  3.274398  4.451388

In [30]:
#視覺美化
def feel_condition(V):
    if V < 1.75:
        return "溫暖"
    elif V<2.75:
        return "潮濕"
    else:
        return"日曬"
    
df.style\
    .format(feel_condition)\
    .set_caption("體感溫度")\
    .background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=None)