In [3]:
import pandas as pd
data = {"字串":["台北", "台中"],
        "整數":[1000, 3000],
        "浮點數":[3.258, 7.396]}

df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [16]:
#視覺美化
df.style\
.format(precision=4,thousands=",",decimal=".")\
.relabel_index(["列1","列2"])

In [27]:
import numpy as np
data = np.random.rand(10,2)*5
df = pd.DataFrame(data,
                  columns=["台北","台中"],
                  index = pd.date_range(start="2023-09-01",periods= 10))
df

                  台北        台中
2023-09-01  3.845776  4.533715
2023-09-02  0.621566  3.596075
2023-09-03  3.660089  1.225706
2023-09-04  4.839626  3.278332
2023-09-05  2.018914  4.877797
2023-09-06  0.972526  4.380525
2023-09-07  3.105835  1.529863
2023-09-08  0.976385  2.169297
2023-09-09  3.207544  3.982465
2023-09-10  3.274398  4.451388

In [30]:
#視覺美化
def feel_condition(V):
    if V < 1.75:
        return "溫暖"
    elif V<2.75:
        return "潮濕"
    else:
        return"日曬"
    
df.style\
    .format(feel_condition)\
    .set_caption("體感溫度")\
    .background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=None)

In [38]:
#隱藏資料hide
df = pd.DataFrame(np.random.randn(5,5))
df.style\
    .hide(subset=[0,2,4],axis=0)\
        .hide(subset=[1,3],axis=1)

In [43]:
df = pd.DataFrame(np.random.randn(10,4),
             columns=["A", "B", "C", "D"])
display(df)

def style_negative(v, props=''):
    return props if v < 0 else None

df.style\
.map(style_negative,props='color:red;')

          A         B         C         D
0 -0.725946 -0.115801 -1.245522 -0.329023
1 -0.004731  0.076608 -1.224629 -0.000475
2  1.087949  1.731174 -0.716005  0.163187
3  1.090932 -0.188864  1.867328  0.366626
4 -1.457300  1.931491 -0.840695 -0.998867
5  0.909216 -0.937879  0.245829 -0.393359
6  0.674531 -0.340011  1.535556 -1.287840
7  0.537446  0.514236  0.576369  1.140203
8  0.782536  2.253105  0.705372 -0.982182
9  0.844800 -1.053956 -0.447058 -1.336975